# Dependencies
node_modules

# Build outputs
dist
dist-electron
release

# Cache
.vite
.turbo
coverage

# IDE
.vscode
.idea

# OS
.DS_Store

# Logs
*.log

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
